body, html {
    height: 100%;
}

body {
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    color: #FFF;
    cursor: url(../overwatch.cur), auto;
    display: flex;
}

@font-face {
    font-family: 'overwatch';
    src: url('../fonts/overwatch.woff') format('woff');
}

@font-face {
    font-family: 'overwatch-italic';
    src: url('../fonts/overwatch-italic.woff') format('woff');
}

@font-face {
    font-family: 'overwatch-serif';
    src: url('../fonts/overwatch-serif.woff') format('woff');
}

.container-fluid {
    margin: auto;
    padding: 0 18px;
    box-sizing: content-box;
    max-width: 75.2vw;
}

.overlay {
    height: 100%;
    width: 100%;
    display: block;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
}

hr {
    background-color: rgba(255, 255, 255, 0.3);
}

h1 {
    color: rgba(255, 255, 255, 0.8);
    font-family: 'overwatch-italic', sans-serif;
    font-size: 6.1vw;
    line-height: 6.4vw;
    letter-spacing: 1.5px;
    margin-bottom: 0.01vw;
}

table {
    background-color: #FFF;
    color: #000;
}

td {
    height: 100%;
    vertical-align: middle !important;
}

.arcade .row {
    margin: 0;
}

.arcade .ow-icon,
.arcade .ow-arcade-icon {
    height: 4.5vw;
    width: auto;
}

.arcade .ow-icon {
    opacity: 0.9;
    margin-right: 0.5vw;
}

.arcade .ow-arcade-icon {
    opacity: 0.75;
    margin-left: 2vw;
}

.arcade .notice {
    margin-bottom: 1vw;
    font-size: 1.5vw;
    line-height: normal;
}

.card-ribbon {
    position: absolute;
    left: -0.8vw;
    top: 1vw;
    display: inline-block;
    color: #ffffff;
    font: 32px sans-serif;
    background: #17B113;
    font-family: 'overwatch-serif', sans-serif;
    text-transform: uppercase;
    font-size: 0.9vw;
    padding: 0.59vw 0.92vw 0.49vw;
    border-radius: 0;
}

.card-ribbon::after {
    content: "";
    bottom: -0.8vw;
    position: absolute;
    display: block;
    border-style: solid;
    border-color: #0C590A transparent transparent transparent;
    left: 0;
    width: 0.8vw;
    border-width: 0.8vw 0 0 0.8vw;
}

.card-ribbon.-secondary {
    background: #F89E1B;
}

.card-ribbon.-secondary::after {
    border-color: #7C4F0E transparent transparent transparent;
}

.card-grid .card {
    border-radius: 0;
    border: 0;
    margin-right: 1.18vw;
    background: none;
    box-sizing: content-box;
    width: 19.65vw;
}

.card-grid .card.-large {
    width: 33.52vw;
}

.secondary > .row + .row {
    margin-top: 1.18vw;
}

.secondary .card:last-child {
    margin-right: 0;
}

.card > .card-image {
    width: 100%;
    height: auto;
}

.card > .card-body {
    background-color: #E7E7EB;
    height: 6.55vw;
}

.card-body > .item {
    font-family: 'overwatch-italic', sans-serif;
}

.card-body > .card-text {
    color: #1C75BC;
    font-size: 1.86vw;
    margin: 1.1vw 0.9vw 0;
    line-height: normal;
}

.card-body > .card-title {
    color: #28354F;
    font-size: 2.4vw;
    letter-spacing: 1px;
    line-height: normal;
    margin: 0.25vw 0.8vw 0;
}

.info-panel {
    margin-top: 1vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info-panel .badge {
    padding: 0.4vw;
    font-size: 0.9vw;
    font-weight: 400;
}

.action-buttons .btn {
    font-size: 0.9vw;
    border: 2px solid transparent;
    border-radius: 5px;
    opacity: 0.9;
    text-shadow: 0 0 1px white;
    transition: opacity 0.2s ease-out, border 0.2s ease-out;
    color: #fff;
}

.action-buttons .btn:hover {
    opacity: 1;
    border: 2px solid rgba(255, 255, 255, 0.7);
}

.action-buttons .btn:focus,
.action-buttons .btn:active {
    box-shadow: none !important;
}

.action-buttons .btn-info {
    background-color: #2A8CCE;
}

.action-buttons .btn-warning {
    background-color: #B98539;
}

.footer {
    color: #FFF;
    text-align: center;
    margin-top: 1vw;
}

.footer p {
    margin-bottom: 0;
}

.footer a {
    font-weight: 700;
    color: #FFF;
}

.contributor-card {
    margin: 0 10px;
}

.contributor-card h6, .contributor-card h4 {
    padding: 0 10px;
}

.contributor-card h4 {
    font-size: 18px;
}

.contributor-card img {
    height: auto;
    width: 100%;
}