body {
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    color: #FFF;
}

.overlay {
    height: 100%;
    width: 100%;
    display: block;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
}

hr {
    background-color: rgba(255, 255, 255, 0.3);
}

h1 {
    color: #FFF;
    font-size: 48px;
    font-weight: bold;
    text-transform: uppercase;
    font-style: italic;
}

.container {
    padding-top: 150px;
}

.arcade .card {
    border: 3px solid rgba(255, 255, 255, 0);
    background: none;
}

.cardRibbon {
    position: absolute;
    text-transform: uppercase;
    left: 0;
    top:10px;
}

.arcade .card-img-top {
    background: url('/img/bg.svg');
    height: 130px;
    background-size: contain;
    background-blend-mode: multiply;
    background-size: cover;
    margin: 0px -16px;
}

table {
    background-color: #FFF;
    color: #000;
}

td {
    height: 100%;
    vertical-align: middle !important;
}

.arcade .card-body {
    background-color: #fdfdfd;
    margin: 0px -16px;
}

.text-wrap {
    padding: 0px 20px;
}

.arcade .large {
    height: 332px;
}

.arcade .large-image {
    margin-top: 40px;
    max-height: 270px;
}

.arcade .small-image {
    max-height: 140px;
}


.gamemode-icon {
    margin: 0px auto;
}

.players {
    color: #3c3cea;
    margin-top: 10px;
    font-style: italic;
}

.gamemode-title {
    margin-top: -5px;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-style: italic;
    font-weight: 700;
    letter-spacing: -1px;
    color: #404040;
}

.contributor-card { margin: 0px 10px;}
.contributor-card h6, .contributor-card h4 { padding: 0px 10px;}
.contributor-card h4 { font-size: 18px; }
.contributor-card img { height:auto; width: 100%;}

.footer {
    color:#FFF;
    width:100%;
    text-align: center;
    position: relative;
}

.footer a { font-weight:700; color:#FFF; }