body {
    background: url('/img/bg.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #FFF;
}

.overlay {
    height: 100%;
    width: 100%;
    display: block;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
}

hr {
    background-color: rgba(255, 255, 255, 0.3);
}

h1 {
    color: #FFF;
    font-size: 48px;
    font-weight: bold;
    text-transform: uppercase;
    font-style: italic;
}

.container {
    padding-top: 150px;
}

.card {
    border: 3px solid rgba(255, 255, 255, 0);
    background: none;
}

.card-img-top {
    background: url('/img/bg.svg');
    height: 130px;
    background-size: contain;
    background-blend-mode: multiply;
    background-size: cover;
    margin: 0px -16px;
}

table {
    background-color: #FFF;
    color: #000;
}

td {
    height: 100%;
    vertical-align: middle !important;
}

.card-body {
    background-color: #fdfdfd;
    margin: 0px -16px;
}

.text-wrap {
    padding: 0px 20px;
}

.large {
    height: 332px;
}

.large-image {
    margin-top: 40px;
    max-height: 270px;
}

.small-image {
    max-height: 140px;
}

.deathmatch {
    background-color: #0000FF;
}

.gamemode-icon {
    margin: 0px auto;
}

.players {
    color: #3c3cea;
    margin-top: 10px;
    font-style: italic;
}

.gamemode-title {
    margin-top: -5px;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-style: italic;
    font-weight: 700;
    letter-spacing: -1px;
    color: #404040;
}

.footer {
    color:#FFF;
    width:100%;
    text-align: center;
    position: relative;
}

.footer a { font-weight:700; color:#FFF; }

.nolimits {
    background-color: #9932CC;
}

.mystery {
    background-color: #DAA520;
}

.mystery_duel {
    background-color: #5c3fff;
}

.lowgrav {
    background-color: orange;
}

.totalmayhem {
    background-color: #FFD700;
}

.lockelim3 {
    background-color: #35d022;
}

.lockelim6 {
    background-color: #35d022;
}

.elim3 {
    background-color: #35d022;
}

.lowgravity {
    background-color: #FA8072;
}

.busan {
    background-color: orange;
}

.teamdeathmatch {
    background-color:#DC143C;
}

.petradeathmatch {
    background-color: #00FFFF;
}

.chateaudeathmatch {
    background-color: #9826ad;
}

.junkensteinrevenge {
    background-color: #5f6a7d;
}

.junkensteinendless {
    background-color: #6f6262;
}