body {
    background: url('/img/wallpaper.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #FFF;
}

.overlay {
    height: 100%;
    width: 100%;
    display: block;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
}

hr {
    background-color: rgba(255, 255, 255, 0.3);
}

h1 {
    color: #FFF;
    font-size: 48px;
    font-weight: bold;
    text-transform: uppercase;
    font-style: italic;
}

.container {
    padding-top: 250px;
}

.card {
    border: 3px solid rgba(255, 255, 255, 0);
    background: none;
}

.card-img-top {
    background: url('/img/bg.svg');
    height: 130px;
    background-size: contain;
    background-blend-mode: multiply;
    background-size: cover;
    margin: 0px -16px;
}

.card-body {
    background-color: #fdfdfd;
    margin: 0px -16px;
}

.text-wrap {
    padding: 0px 20px;
}

.large {
    height: 332px;
}

.large-image {
    margin-top: 100px;
}

.deathmatch {
    background-color: red;
}

.gamemode-icon {
    margin: 0px auto;
}

.players {
    color: #3c3cea;
    margin-top: 10px;
    font-style: italic;
}

.gamemode-title {
    margin-top: -5px;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-style: italic;
    font-weight: 700;
    letter-spacing: -1px;
    color: #404040;
}

.nolimits {
    background-color: yellow;
}

.mystery {
    background-color: purple;
}

.lowgrav {
    background-color: orange;
}

.deathmatch {
    background-color: dodgerblue;
}

.totalmayhem {
    background-color: darkorange;
}

.lockelim3 {
    background-color: deepskyblue;
}

.lockelim6 {
    background-color: royalblue;
}